# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Database (local only)
instance/*.db

# IDE configs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# My personal files to ignore
my_commands.txt